@keyframes animGrid{
    from{
        opacity: 0;
        transform: translatey(60px)
    }
    5%{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translatey(0px)
    }
}

.animerGrid{
    opacity: 0;
    animation: animGrid 1s ease-out forwards;
}