#grid{
    display: -ms-grid;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    grid-template-areas:
        "..."
        "..."
        "...";
    text-align: center;

    div{
        transition: all 0.2s;
        @extend %boite;
    }

    //class qui gère le hover des éléments du grid
    .gridHover:hover{
        transform: scale(1.1);
        background-color: steelblue;
        cursor: pointer;
    }
}